<footer class="site-footer">
  <div class="container footer-grid">
    <div>
      <strong><%= storeName %></strong>
      <p>Nuestro compromiso es brindar el mejor servicio al cliente.</p>
    </div>
    <div>
      <small>Licencias</small>
      <p>Contamos con un sistemas de verificacion y validacion por IP y Licencias exclusivas.</p>
    </div>
  </div>
</footer>
</body>
</html>
